.favorites {
    padding-top: 136px;
}

.favoritesTitle {
    margin-bottom: 32px;
    font-size: $main-title-font-size;
    color: $main-text-color;
}

.favoritesButton {
    @extend %action-button;
    background-color: $main-btn-color;
    color: $main-btn-text-color;
    font-size: $btn-font-size;

    transition: $transition-background-color;
    transition: $transition-color;
    
        &:hover,
        &:focus {
            background-color: $main-btn-hover-color;
            color: $main-btn-color;
        }
}

.favoritesTxt {
    font-size: $secondary-text-font-size;
    color: $secondary-text-color;
    margin-bottom: 30px;
}