.news {
    padding-top: 136px;
    width: 100%;
}

.newsTitle {
    color: $main-title-color;
    font-size: $main-title-font-size;
    margin-bottom: 32px;
}

.newsText {
    font-size: $main-text-font-size;
    color: $main-text-color;
    margin-bottom: 32px;
}

.spinWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


// Классы с "-" являются кастомным классом библиотеки Ant d 
// и используется здесь для изменения стилей по умолчанию
.spinWrap .ant-skeleton.ant-skeleton-active .ant-skeleton-paragraph>li {
    border-radius: $radi-box;
    background: linear-gradient(90deg, #0FAE96, #120E27, #058F7B);
    height: 275px;
    background-size: 400% 100%;
}