.products {
    padding-top: 136px;
    width: 100%;
}

.productsTitle {
    font-size: $main-title-font-size;
    color: $main-title-color;
    margin-bottom: 32px;
}

.productsText {
    font-size: $main-text-font-size;
    margin-bottom: 32px;
    color: $main-text-color;
}