$main-background-color: #11011E;

$logo-hover-color: #0FAE96;
$logo-color: #ECF1F0;

$main-title-color: #ECF1F0;
$main-text-color: #D4D4D4;
$secondary-text-color: #ECF1F0;

$main-btn-color: #0FAE96;
$main-btn-text-color: #ECF1F0;
$main-btn-hover-color: #F9F9F9;

$social-btn-color: #ECF1F0;
$social-btn-hover-color: #058F7B;

$nav-hover-color: #058F7B;

$label-color: #0FAE96;
$label-text-color: #ECF1F0;

$secondary-btn-color: rgba(255, 255, 255, 0.08);
$secondary-btn-active-color: #ECF1F0;
$secondary-btn-hover-color: #058F7B;
$secondary-btn-active-text-color: #11011E;

$card-color: rgba(255, 255, 255, 0.08);

$mobile-menu-bg-color: #38373D;